<div class="page-content"> 
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid"> 
      <!-- BEGIN PAGE HEADER-->
      <div class="row-fluid">
        <div class="span12">
          <h3 class="page-title"> Products View <small>View/Add/Edit/Delete</small> </h3>
          <ul class="breadcrumb">
            <li> <i class="icon-user"></i> <a href="products">View Products</a> <span class="icon-angle-right"></span> </li>
            <li> <a href="">View Product Info</a> </li>
          </ul>
        </div>
      </div>
      <!-- END PAGE HEADER--> 
      <!-- BEGIN PAGE CONTENT-->
      <div class="row-fluid">
        <div class="span12">
          <div class="tabbable tabbable-custom boxless">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab_1" data-toggle="tab">Product</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
                <div class="portlet box blue">
                  <div class="portlet-title">
                    <h4><i class="icon-reorder"></i>Product Info</h4>
                    <div class="tools"> <a href="javascript:;" class="collapse"></a> </div>
                  </div>
                  <div class="portlet-body form">
                    {{#if error}}
                        <div class="alert alert-error"><button class="close" data-dismiss="alert"></button>{{error}}</div>
                    {{/if}}
                    {{#if success}}
                        <div class="alert alert-success"><button class="close" data-dismiss="alert"></button>{{success}}</div>
                    {{/if}}
                    <div class="alert alert-error hide">
                      <button class="close" data-dismiss="alert"></button>
                      <span id="err_msg"></span> </div>
                    <div class="alert alert-success hide">
                      <button class="close" data-dismiss="alert"></button>
                      <span id="suc_msg"></span> </div>
                    <!-- BEGIN FORM-->
                    <div class="form-horizontal form-view">
                      <div class="text-right"><a href="admusersview?id={{data.webid}}" class="btn red-stripe" title="View User"><i class="fa fa-user" aria-hidden="true"></i> User</a> &nbsp; <a href="productsedit?id={{data._id}}" class="btn purple" title="Edit"><i class="icon-edit"></i> Update</a></div>
                      <h3 class="form-section">Product Info</h3>
                      <div class="row-fluid">
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Name:</label>
                            <div class="controls"> <span class="text bold">{{data.name}}</span> </div>
                          </div>
                        </div>
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Category:</label>
                            <div class="controls"> <span class="text bold">{{data.category}}</span> </div>
                          </div>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Currency:</label>
                            <div class="controls"> <span class="text bold">{{data.currency}}</span> </div>
                          </div>
                        </div>
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Price:</label>
                            <div class="controls"> <span class="text bold">{{data.price}}</span> </div>
                          </div>
                        </div>                        
                      </div>
                      <div class="row-fluid">                        
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Discount:</label>
                            <div class="controls"> <span class="text bold">{{data.discount}}%</span> </div>
                          </div>
                        </div>
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Quantity:</label>
                            <div class="controls"> <span class="text bold">{{data.quantity}}</span> </div>
                          </div>
                        </div>
                      </div>
                      <div class="row-fluid">                        
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Overview:</label>
                            <div class="controls"> <span class="text bold">{{data.overview}}</span> </div>
                          </div>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span12 ">
                          <div class="control-group">
                            <label class="control-label">Detail:</label>
                            <div class="controls"> <span class="text bold">{{data.detail}}</span> </div>
                          </div>
                        </div>
                      </div>                      
                       <div class="row-fluid">
                        <div class="span12 ">
                          <div class="control-group">
                            <label class="control-label">Images:</label>
                            <div class="controls"> <span class="text bold">
                              {{#each data.images as |item|}}
                                <img src="uploads/{{item}}" width="200" height="200" />&emsp;
                              {{/each}}
                            </span> </div>
                          </div>
                        </div>
                      <div class="row-fluid">
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Status:</label>
                            <div class="controls"> <span id="thisstatus" class="text bold hand">{{#ifCond data.status '==' 0}}<a onclick="ChangeStatus('{{data._id}}', 0)"><span class="label label-success"><i class='fa fa-check' aria-hidden='true'></i> Approved</span></a>{{else}}<a onclick="ChangeStatus('{{data._id}}', 1)"><span class="label label-warning"><i class='fa fa-pause' aria-hidden='true'></i> Suspended</span></a>{{/ifCond}}</span> </div>
                          </div>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Created By:</label>
                            <div class="controls"> <span class="text bold">{{data.createdby}}</span> </div>
                          </div>
                        </div>
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Created DateTime:</label>
                            <div class="controls"> <span id="crtdate" class="text bold">{{data.creation_date}}</span> </div>
                          </div>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Updated By:</label>
                            <div class="controls"> <span class="text bold">{{data.updatedby}}</span> </div>
                          </div>
                        </div>
                        <div class="span6 ">
                          <div class="control-group">
                            <label class="control-label">Updated DateTime:</label>
                            <div class="controls"> <span id="upddate" class="text bold">{{data.updation_date}}</span> </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-actions">
                        <button type="button" class="btn" onclick="window.location.href='admusers'">Back</button>
                      </div>
                    </div>
                    <!-- END FORM--> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END PAGE CONTENT--> 
    </div>
    <!-- END PAGE CONTAINER--> 
  </div>